In [1]:
import numpy as np
import pandas as pd 
import sklearn.metrics as metrics 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [2]:
df=pd.read_csv("energydata_complete.csv")

In [3]:
df.head(3)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

In [4]:
df.drop(["date"], axis =1, inplace=True)

In [5]:
scaler = MinMaxScaler()

In [6]:
scaled = scaler.fit_transform(df)

In [7]:
scaled_df = pd.DataFrame(scaled, columns = df.columns )

In [8]:
scaled_df.head(3)

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.428571,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.428571,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.428571,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848

In [9]:
# Reshaping the data 
X = np.array(scaled_df["T2"]).reshape(-1,1) 
y= np.array(scaled_df["T6"]).reshape(-1,1)

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size= 0.3,random_state=42)

In [11]:
model = LinearRegression()

In [12]:
model.fit(X_train,y_train)

LinearRegression()

In [13]:
# model coefficient
model.coef_

array([[0.8910771]])

In [14]:
# Predictions
y_pred = model.predict(X_test)

In [15]:
#12 What is the R^2 value in two d.p.?

r2_score = metrics.r2_score(y_test, y_pred)
round(r2_score, 2)

0.64

In [16]:
scaled_df.drop("lights", axis=1 ,inplace=True)
scaled_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [17]:
y = scaled_df["Appliances"]
X = scaled_df.drop("Appliances", axis=1)

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size= 0.3,random_state=42)

In [19]:
linear_model = LinearRegression()

In [20]:
linear_model.fit(X_train,y_train)

LinearRegression()

In [21]:
# Predictions
y_pred=linear_model.predict(X_test)

In [22]:
#13 What is the Mean Absolute Error (in two decimal places)?

MAE = metrics.mean_absolute_error(y_test,y_pred)
round(MAE,2)

0.05

In [23]:
#14 What is the Residual Sum of Squares (in two decimal places)?

RSS = np.sum(np.square(y_test - y_pred))
round(RSS, 2)

45.35

In [24]:
#15 What is the Root Mean Squared Error (in three decimal places)?

RMSE = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
round(RMSE, 3)

0.088

In [25]:
#16 What is the Coefficient of Determination

r2_score = metrics.r2_score(y_test, y_pred)
round(r2_score,2)

0.15

In [26]:
#17 Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?
weights=pd.DataFrame(linear_model.coef_, index= X.columns, columns= ["Weights"]).sort_values(by="Weights")
print(f"""Highest weight : {weights.iloc[-1].name}
Lowest weight : {weights.iloc[0].name}""")

Highest weight : RH_1
Lowest weight : RH_2

In [27]:
#18 Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

ridge_model = Ridge(alpha = 0.4)

In [28]:
ridge_model.fit(X_train,y_train)

Ridge(alpha=0.4)

In [29]:
prediction = ridge_model.predict(X_test)

In [30]:
L_RMSE = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
R_RMSE = np.sqrt(metrics.mean_squared_error(y_test, prediction))
print(f"""L_RMSE : {L_RMSE}
R_RMSE : {R_RMSE}""")

L_RMSE : 0.0875144494766171
R_RMSE : 0.08753385704628004

In [31]:
print(f"""L_RMSE : {round(L_RMSE,4)}
R_RMSE : {round(R_RMSE,3)}""")

L_RMSE : 0.0875
R_RMSE : 0.088

In [32]:

lasso_model = Lasso(alpha= 0.001)

In [33]:
lasso_model.fit(X_train,y_train)

Lasso(alpha=0.001)

In [34]:
lasso_pred = lasso_model.predict(X_test)

In [35]:
#19  How many of the features have non-zero feature weights? 
coef= lasso_model.coef_
coef_df=pd.DataFrame(coef)
non_zero= coef_df[coef_df[0]!=0]
len(non_zero)

4

In [36]:
#20 What is the new RMSE with the lasso regression?

In [37]:
RMSE = np.sqrt(metrics.mean_squared_error(y_test, lasso_pred))
round(RMSE, 3)

0.094